/* =================
        Colors
================= */


/*  Primary  */

$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);

/*  Neutral  */

$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

/* ======================
        Typography 
======================= */


/*  Body Copy  */

$font-size: 18px;

/*  Font  */

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
$f-family: "Public Sans",
sans-serif;
$fw-300: 300;
$fw-400: 400;
$fw-700: 700;